<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <description>
        CouponsServer
    </description>
    <welcome-file-list>
        <welcome-file>/WEB-INF/view/_menu.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SkillListServlet</servlet-name>
        <servlet-class>org.homework.servlet.skill.SkillListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkillListServlet</servlet-name>
        <url-pattern>/listSkill</url-pattern>
    </servlet-mapping>
</web-app>
